Authlib~=0.15.3
libgravatar~=1.0.0
requests~=2.25.1
Flask~=1.1.2
Flask-login~=0.5.0
Flask-SQLAlchemy~=2.5.1
Flask-Session~=0.3.2
Flask-WTF~=0.14.3
pytz~=2021.1
python-dotenv>=0.15.0
MarkupSafe~=2.0.1
